<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,130},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>block_boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,875},{62,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>block_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,98},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>block_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,66},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>block_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>block_rgb.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>block_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,809},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>block_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>blocks.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,608}}</string>
                <key>offset</key>
                <string>{-8,206}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{492,608}}</string>
                <key>sourceSize</key>
                <string>{512,1024}</string>
            </dict>
            <key>hammer001.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,921},{99,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,108}}</string>
                <key>sourceSize</key>
                <string>{99,108}</string>
            </dict>
            <key>hammer002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{93,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,116}}</string>
                <key>sourceSize</key>
                <string>{93,116}</string>
            </dict>
            <key>hammer003.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,897},{97,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,112}}</string>
                <key>sourceSize</key>
                <string>{97,112}</string>
            </dict>
            <key>hammer004.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,809},{95,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,110}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>hammer005.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,897},{95,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,110}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>hammer006.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,612},{195,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,182}}</string>
                <key>sourceSize</key>
                <string>{195,182}</string>
            </dict>
            <key>hammer007.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,840},{195,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,182}}</string>
                <key>sourceSize</key>
                <string>{195,182}</string>
            </dict>
            <key>hammer008.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,612},{207,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,226}}</string>
                <key>sourceSize</key>
                <string>{207,226}</string>
            </dict>
            <key>hammer009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{283,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,220}}</string>
                <key>sourceSize</key>
                <string>{283,220}</string>
            </dict>
            <key>hammer010.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,921},{99,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,108}}</string>
                <key>sourceSize</key>
                <string>{99,108}</string>
            </dict>
            <key>particle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,49},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>particle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>particle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,50},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>particle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>particle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,840},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>s_block_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>s_block_bule.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>s_block_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,66},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>s_block_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>s_block_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>s_block_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,941},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blocks.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d264be91101a7d381836f692ed76e8e8$</string>
            <key>textureFileName</key>
            <string>blocks.png</string>
        </dict>
    </dict>
</plist>
